<section>
  <div class="container">
    <div class="about">
      <div class="about-details" appFade="up" [delay]="200">
        <h2>About Us</h2>
        <h3 class="subtitle">Over 11 years of software consulting experience</h3>
        <p class="first-desc">At Next Level Code, we specialize in delivering cutting-edge software solutions tailored for medium and large enterprises. With extensive expertise across a variety of industries—ranging from finance, banking, and public ministries to telecommunications, automotive manufacturing, human resources, and healthcare—we craft high-performance, scalable applications that drive business growth and operational efficiency.

          Our team brings years of experience in complex, industry-specific challenges, empowering organizations with robust, secure, and future-ready software solutions. Whether you’re looking to modernize legacy systems or implement a transformative new platform, Next Level Code combines technical precision with a deep understanding of industry demands to deliver impactful results..</p>
        <a href="assets/img/NextLevelCode.html" download="CV_RAIS_Mohamed">
          <button class="btn">Download CV</button>
        </a>
      </div>
      <div class="about-img" appFade="up">
        <img ngSrc="assets/img/about.png" alt="Rais Mohamed" width="1200" height="800">
      </div>
    </div>
  </div>
</section>
