<section>
  <div class="container">
    <h2>Experience</h2>
    <div class="experience">
      <div class="experience-card" appFade="up">
        <div class="experience-card-info">
          <h3 class="experience-card-info-title">Senior Software Engineer</h3>
          <span class="experience-card-info-date">Maieleva | Remote</span>
          <span class="experience-card-info-date">May 2021 - Present</span>
          <div>
            <span class="experience-card-info-badge">Full Time</span>
          </div>
        </div>
        <div class="experience-card-details">
          <h3 class="experience-card-details-title">Docapost – Maileva</h3>
          <p>The SMB Invoices solution came as a modern redesigned solution to replace the SICLV2 (old solution)
            that offer the dematerialization and the processing of invoices between customers and suppliers, adapted to
            the needs of all organizations, VSE/SMEs and large groups.It’s composed of several APIs/microservices
            that has been shared and assigned to fives agile teams to move on in parallel through synchronous sprints.</p>
        </div>
      </div>
      <div class="experience-card" appFade="up" [delay]="200">
        <div class="experience-card-info">
          <h3 class="experience-card-info-title">Senior Software Engineer</h3>
          <span class="experience-card-info-date">BNP Paribas | Remote</span>
          <span class="experience-card-info-date">Sep 2018 - April 2021</span>
          <div>
            <span class="experience-card-info-badge">Part Time</span>
          </div>
        </div>
        <div class="experience-card-details">
          <h3 class="experience-card-details-title">BNP Paribas CIB</h3>
          <p>BNP Paribas's CLM (Client Lifecycle Management) allows the onboarding of new clients and the updating of
            existing client data, with validation of due diligence and support and the support of new regulatory obligations.
            This onboarding was used to be done by Relationship Managers (RM) and their Managers (RMM)
            through an external application : Salesforce.
            Loosing the licence for Salesforce, we got to design and build, an application that:
            - is Flexible on the way the data going to be stored
            - React to events occuring on the database
            - has an embedded, easy to use, Rule Engine
            - has to be used by GCARS, a 10 years old legacy application, with ZERO code change
            - will be used by Fenergo, a new application currently in deployment in CIB
            - is Secure to avoid data corruption
            - is easy to Monitor
            - has to be available on Mobile .</p>
        </div>
      </div>
      <div class="experience-card" appFade="up" [delay]="400">
        <div class="experience-card-info">
          <h3 class="experience-card-info-title">Software engineer</h3>
          <span class="experience-card-info-date">Ministry of Agriculture, Agri-Food and Forestry,
            Paris | Hybrid</span>
          <span class="experience-card-info-date">Aug 2017 - Aug 2018</span>
          <div>
            <span class="experience-card-info-badge">Full Time</span>
          </div>
        </div>
        <div class="experience-card-details">
          <h3 class="experience-card-details-title">Ministry of Agriculture, Agri-Food and Forestry,
            Paris </h3>
          <p>AGHORA is an internal solution that offers management of human resources and administrative tasks within the
            ministry.</p>
        </div>
      </div>
      <div class="experience-card" appFade="up" [delay]="400">
        <div class="experience-card-info">
          <h3 class="experience-card-info-title">Software engineer</h3>
          <span class="experience-card-info-date">Banque de France | Hybrid</span>
          <span class="experience-card-info-date">Jan 2016 – Jun 2017</span>
          <div>
            <span class="experience-card-info-badge">Full Time</span>
          </div>
        </div>
        <div class="experience-card-details">
          <h3 class="experience-card-details-title">Banque de France </h3>
          <p>FIBEN: The Corporate Banking File centralizes information relating to French non-financial companies. It is a
            reference file for all those involved in financing the economy as part of their relations with businesses.
            The FIBRE project and a portal which was designed to offer management of the operational management
            process of work on the Business and Individual Banking File.</p>
        </div>
      </div>
      <div class="experience-card" appFade="up" [delay]="400">
        <div class="experience-card-info">
          <h3 class="experience-card-info-title">Software engineer</h3>
          <span class="experience-card-info-date">Orange | Hybrid</span>
          <span class="experience-card-info-date">May 2014 – Dec 2015
          </span>
          <div>
            <span class="experience-card-info-badge">Full Time</span>
          </div>
        </div>
        <div class="experience-card-details">
          <h3 class="experience-card-details-title">Orange </h3>
          <p>CLIPER is a solution that centralizes customer data and ensures their homogenization while optimizing the
            design of its data (customer/prospect/service user) and contracts (fixed, internet, mobile, portal) in the IT system
            of the operator Orange.</p>
        </div>
      </div>
      <div class="experience-card" appFade="up" [delay]="400">
        <div class="experience-card-info">
          <h3 class="experience-card-info-title">Software engineer</h3>
          <span class="experience-card-info-date">Essilor | Hybrid</span>
          <span class="experience-card-info-date">Jan 2013 – Apr 2014

          </span>
          <div>
            <span class="experience-card-info-badge">Full Time</span>
          </div>
        </div>
        <div class="experience-card-details">
          <h3 class="experience-card-details-title">Essilor </h3>
          <p>An E-commerce store generator that allows partner opticians of the Essilor brand to generate their own online
            stores that allow customers to order their glasses/glasses/lenses
            .</p>
        </div>
      </div>
    </div>
    <hr>
    <h2>Education & Skills</h2>
    <div class="education-skill">
      <div class="education" appFade="up">
        <div class="education-card">
          <span class="education-date">2013</span>
          <h3 class="education-title">Software engineer degree</h3>
          <span class="education-institute">ESPRIT High School</span>
        </div>
        <div class="education-card">
          <span class="education-date">2011</span>
          <h3 class="education-title">Master of Technology</h3>
          <span class="education-institute">ESSTHS</span>
        </div>
       
      </div>
      <div class="skill" appFade="up" [delay]="200">
        <div class="skill-card">
          <h3 class="skill-count">100%</h3>
          <div class="skill-info">
            <h4 class="skill-title">Java</h4>
            <div class="skill-progress">
              <div class="skill-progress-inner skill-progress-90"></div>
            </div>
          </div>
        </div>
        
        <div class="skill-card">
          <h3 class="skill-count">95%</h3>
          <div class="skill-info">
            <h4 class="skill-title">Spring</h4>
            <div class="skill-progress">
              <div class="skill-progress-inner skill-progress-90"></div>
            </div>
          </div>
        </div>
        
        <div class="skill-card">
          <h3 class="skill-count">97%</h3>
          <div class="skill-info">
            <h4 class="skill-title">Kafka</h4>
            <div class="skill-progress">
              <div class="skill-progress-inner skill-progress-90"></div>
            </div>
          </div>
        </div>

          <div class="skill-card">
          <h3 class="skill-count">90%</h3>
          <div class="skill-info">
            <h4 class="skill-title">ElasticSearch</h4>
            <div class="skill-progress">
              <div class="skill-progress-inner skill-progress-90"></div>
            </div>
          </div>
        </div>

        <div class="skill-card">
          <h3 class="skill-count">100%</h3>
          <div class="skill-info">
            <h4 class="skill-title">Microservices</h4>
            <div class="skill-progress">
              <div class="skill-progress-inner"></div>
            </div>
          </div>
        </div>

          <div class="skill-card">
          <h3 class="skill-count">100%</h3>
          <div class="skill-info">
            <h4 class="skill-title">Angular</h4>
            <div class="skill-progress">
              <div class="skill-progress-inner skill-progress-90"></div>
            </div>
          </div>
        </div>
      
        <div class="skill-card">
          <h3 class="skill-count">100%</h3>
          <div class="skill-info">
            <h4 class="skill-title">HTML</h4>
            <div class="skill-progress">
              <div class="skill-progress-inner skill-progress-90"></div>
            </div>
          </div>
        </div>
        <div class="skill-card">
          <h3 class="skill-count">85%</h3>
          <div class="skill-info">
            <h4 class="skill-title">CSS</h4>
            <div class="skill-progress">
              <div class="skill-progress-inner skill-progress-85"></div>
            </div>
          </div>
        </div>
        <div class="skill-card">
          <h3 class="skill-count">90%</h3>
          <div class="skill-info">
            <h4 class="skill-title">Javascript</h4>
            <div class="skill-progress">
              <div class="skill-progress-inner skill-progress-90"></div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</section>
