<section>
  <div class="container">
    <div class="services-title">
      <h2>What I Do</h2>
      <p>Along with improved performance, our solutions rely on deep domain proficiency and battle-tested development practices. 
        Our web app development company stays at the edge of industry-specific needs and covers a wide range of verticals..</p>
    </div>
    <div class="services">
      <div class="services-card" appFade="left">
        <h3 class="services-card-subtitle">Web App Development</h3>
        <h3 class="services-card-title">Custom Web App Development</h3>
        <p>Custom web development is a surefire way to get the solution that is fully aligned with your business needs. 
          Our team of certified web developers delivers high-performing, 
          stable and secure solutions that support mission-critical workflows and deliver value through web platforms.
        </p>
      </div>
      <div class="services-card" appFade="left" [delay]="200">
        <h3 class="services-card-subtitle">Mobile App Development</h3>
        <h3 class="services-card-title">iOS & Android</h3>
        <p>We offers comprehensive mobile app development services tailored to meet the unique needs of startups, enterprises, and various industries. 
          From customized solutions to security and compliance, We delivers mobile apps that drive engagement, enhance user experience, and boost business growth..
        </p>
      </div>
      <div class="services-card" appFade="left" [delay]="400">
        <h4 class="services-card-subtitle">Marketing</h4>
        <h3 class="services-card-title">Digital Marketing</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua.
        </p>
      </div>
    </div>
  </div>
</section>
